<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:c="">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Last Name</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td th:text="${user.getId()}">VALUE</td>
        <td th:text="${user.getLastname()}">VALUE</td>
        <td th:text="${user.getName()}">VALUE</td>
        <td th:text="${user.getAge()}">VALUE</td>
    </tr>
</table>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit this user</a>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="DELETE"/>

</form>
</body>
</html>