<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>



<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <div>
        <label for="name">Enter name:</label>
        <input type="text" th:field="*{name}" id="name">
        <br>
        <label for="lastname">Enter lastName:</label>
        <input type="text" th:field="*{lastname}" id="lastname">
        <br>
        <label for="age">Enter age:</label>
        <input type="number" th:field="*{age}" id="age" >
        <br/>
        <input type="submit" value="Create">
    </div>
</form>
</body>
</html>